/*
	Theme Name: Outreach Pro
	Theme URI: http://my.studiopress.com/themes/outreach/
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/
	Version: 3.0.1
	
	Tags: black, green, white, one-column, two-columns, three-columns, 
	left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, 
	sticky-post, theme-options, threaded-comments, translation-ready, premise-landing-page
	
	Template: genesis
	Template Version: 2.0.0
	
	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Table of Contents
	
	- Imports
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Responsive Slider
		- Gravity Forms
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Menu
	- Content Area
		- Home Page
		- Entries
		- Entry Meta
		- After Entry
		- Pagination
	- Comments
	- Sidebars
	- Sub Foooter
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- Outreach Pro Blue
		- Outreach Pro Orange
		- Outreach Pro Purple
		- Outreach Pro Red
	- Media Queries
	- Retina Display
		- Retina
		- Max-width: 1139px
		- Max-width: 1023px
		- Max-width: 767px

*/

/*
Imports
---------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: 'Icon';
	src:url('fonts/Icon.eot');
	src:url('fonts/Icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/Icon.woff') format('woff'),
		url('fonts/Icon.ttf') format('truetype'),
		url('fonts/Icon.svg#Icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src:url('fonts/Merriweather.eot');
	src:url('fonts/Merriweather.eot?#iefix') format('embedded-opentype'),
		url('fonts/Merriweather.woff') format('woff'),
		url('fonts/Merriweather.ttf') format('truetype'),
		url('fonts/Merriweather.svg#Merriweather') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Varela';
	src:url('fonts/Varela.eot');
	src:url('fonts/Varela.eot?#iefix') format('embedded-opentype'),
		url('fonts/Varela.woff') format('woff'),
		url('fonts/Varela.ttf') format('truetype'),
		url('fonts/Varela.svg#Varela') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
	normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}

audio,canvas,video{
	display:inline-block
}

audio:not([controls]){
	display:none;height:0
}

[hidden],template{
	display:none
}

html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

body{
	margin:0
}

a{
	background:transparent
}

a:focus{
	outline: none;
  	text-decoration: none;
}

a:active,a:hover{outline:0}

h1{font-size:2em;margin:.67em 0}

abbr[title]{border-bottom:1px dotted}

b,strong{font-weight:700}

dfn{font-style:italic}

hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}

mark{background:#ff0;color:#000}

code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sup{top:-.5em}

sub{bottom:-.25em}

img{border:0}

svg:not(:root){overflow:hidden}

figure{margin:0}

fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}

legend{border:0;padding:0}

button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}

button,input{line-height:normal}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}

button[disabled],html input[disabled]{cursor:default}

input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}

input[type=search]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;box-sizing:content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

textarea{overflow:auto;vertical-align:top}

table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.home-top .widget:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.home-top .widget:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html body {
	color: #333;
	overflow-x: hidden !important;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.625;
	font-family: 'Merriweather';
  
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	text-decoration: none;
  	color: #2f2f2f;
}

a:hover {
	color: #589b37;
}



p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	padding: 0;
  	margin: 0;
  	list-style: none;
}

li {
	list-style-type: none;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin: 0 0 10px;
	font-family: 'Varela';	
}

body h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 45px;
}

body h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
}

body h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}

body h4 {
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

body h5 {
	font-size: 18px;
	font-weight: 200;
	line-height: 25px;
}

body h6 {
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

.featured-content img,
.gallery img {
	width: auto;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #999;
	font-size: 14px;
	font-weight: 400;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #666;
	opacity: 1;
	font-weight: 400;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 400;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background-color: #6ab446;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	padding: 16px 24px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
	background-color: #5b9b3c;
	color: #fff;
}

.button {
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: 1px solid #ddd;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #ddd;
	padding: 6px 0;
}

th {
	font-weight: 700;
	text-transform: uppercase;
}


/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1170px;
}

.site-inner {
	clear: both;
	font-size: 16px;
	overflow: hidden;
	padding-top: 30px;
}

.outreach-pro-home .site-inner {
	padding: 0px 0;
}

.outreach-pro-landing .wrap {
	max-width: 900px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 930px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}

/* Content */

.content {
	background-color: #fff;
	border-radius: 3px;
	float: right;
	margin-bottom: 30px;
	/*padding: 40px;*/
	width: 760px;
}

.outreach-pro-home .content {
	margin: 0;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 550px;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 350px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}

/* Secondary Sidebar */

.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	background-color: #f5f5f5;
	font-size: 12px;
	margin-bottom: 30px;
	padding: 10px 16px;
}

.archive-description {
	background-color: #f5f5f5;
	margin-bottom: 30px;
	padding: 30px;
}

.author-box {
	background-color: #111;
	color: #fff;
	margin: 0 -40px 40px;
	padding: 30px;
}

.author-box-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.site-header .search-form {
	float: right;
	margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
	width: 50%;
}

.search-form input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
}

.entry-title {
	font-size: 30px;
	font-weight: 700;
}

.content .entry-title a {
	color: #333;
}

.content .entry-title a:hover {
	color: #6ab446;
}

.widget-title {
	color: #6ab446;
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.site-header .widget-title {
	color: #fff;
}

/* WordPress
--------------------------------------------- */

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

a.alignnone {
	display: inline-block;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	display: block;
	margin-bottom: 16px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
	word-wrap: break-word;
	margin-bottom: 30px;
}

.widget li {
	/*border-bottom: 1px dotted #494949;*/
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align: left;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: none;
	/*margin: 0 0 0 30px;*/
	padding: 0;
}

.widget p:last-child,
.widget ol > li:last-child,
.widget ul > li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.widget_calendar table {
	border-color: #494949;
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 20px;
}

.featured-content .entry-title {
	font-size: 20px;
}

.featured-content .entry-comments-link {
	float: none;
}

.more-from-category {
	border-top: 1px dotted #494949;
	margin-top: 10px;
	padding-top: 10px;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.sidebar .enews-widget .widget-title {
	color: #fff;
}

.enews-widget input {
	margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
	border: none;
	color: #fff;
	margin: 0;
	width: 100%;
}

.enews-widget input:hover[type="submit"] {
	background-color: #eee;
	color: #333;
}

.enews form + p {
	margin-top: 24px;
}

/* Genesis Responsive Slider
------------------------------------------------------------ */

.content #genesis-responsive-slider {
	-webkit-box-shadow: 0 60px 100px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0 60px 100px rgba(0, 0, 0, 0.5);
	box-shadow:         0 60px 100px rgba(0, 0, 0, 0.5);
	border: none;
	padding: 0;
}

.content #genesis-responsive-slider a:hover,
.content #genesis-responsive-slider h2 a,
.content #genesis-responsive-slider h2,
.content #genesis-responsive-slider p {
	color: #fff;
}

.content #genesis-responsive-slider a,
.content #genesis-responsive-slider h2 a:hover {
	color: #6ab446;
}

#genesis-responsive-slider li {
	border: none;
	margin: 0;
	padding: 0;
}

.content .slide-excerpt {
	background-color: rgba(0, 0, 0, 0.7);
	border: none;
	filter: alpha(opacity=10);
	margin: 0;
	opacity: 1;
}

html > body .content .slide-excerpt-border {
	border: none;
	margin: 0;
	padding: 30px;
}

.content #genesis-responsive-slider p {
	color: #fff;
}

.widget.genesis_responsive_slider,
.content #genesis-responsive-slider .flex-control-nav {
	margin-bottom: 0;
}

.content #genesis-responsive-slider .flex-control-nav {
	margin-top: -40px;
}

.content .genesis_responsive_slider .flex-direction-nav li a {
	background: url(images/icon-direction-nav.png) no-repeat -50px 0;
	background-size: 100px 98px;
	height: 49px;
	right: -25px;
	-webkit-transition: none;
	-moz-transition:    none;
	-ms-transition:     none;
	-o-transition:      none;
	transition:         none;
	width: 50px;
}

.content .genesis_responsive_slider .flex-direction-nav li a:hover {
	background-position: -50px -49px;
}

.content .genesis_responsive_slider .flex-direction-nav li a.prev {
	background-position: 0 0;
	bottom: 10px;
	left: auto;
	right: 62px !important;
	top: auto;
}

.content #genesis-responsive-slider .flex-direction-nav li a.next {
	bottom: 10px;
	left: auto;
	right: 10px !important;
	top: auto;
}

.content .genesis_responsive_slider .flex-direction-nav li a:hover.prev {
	background-position: 0 -49px;
}


/* Gravity Forms
--------------------------------------------- */

div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 16px;
}

div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #313b3d;
	color: #fff;
	min-height: 80px;
}

.site-header .widget {
	margin-bottom: 0;
}

.site-header .wrap {

}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	width: 150px;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {

}

.site-title a,
.site-title a:hover {
	color: #fff;
}

.header-image .title-area {
	padding: 0;
}

.header-image .site-title > a {
	float: left;
	min-height: 100px;
	width: 100%;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-weight: 400;
	height: 0;
	line-height: 1.5;
	text-indent: -9999px;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 1000px;
}

.site-header .widget-area a {
	color: #fff;
}

.site-header .widget li {
	border-color: #fff;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

.site-header .widget-area button:hover,
.site-header .widget-area input:hover[type="button"],
.site-header .widget-area input:hover[type="reset"],
.site-header .widget-area input:hover[type="submit"],
.site-header .widget-area .button:hover {
	background-color: #fff;
	color: #000;
}

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu,
.genesis-nav-menu a {
	color: #fff;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	display: block;
	font-size: 12px;
	padding: 35px 10px;
	transition: all 0.5s ease 0s;
}

.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu a:hover,
.genesis-nav-menu li:hover > a {
	background-color: transparent;
	color: #78adc9;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}



.genesis-nav-menu .sub-menu a {
	background-color: #48575A;
	color: #333;
	font-size: 14px;
	padding: 10px 10px;
	position: relative;
	width: 150px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -48px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .date,
.genesis-nav-menu > .right > a {
	display: inline-block;
	padding: 18px 20px;
}

.genesis-nav-menu .right:hover > a {
	background: none;
	color: #fff;
}

.genesis-nav-menu .right > a:hover {
	background: #fff;
	color: #000;
}

.genesis-nav-menu > .search {
	padding: 9px 0 0;
}

.genesis-nav-menu input[type="search"] {
	font-size: 14px;
	padding: 10px 16px;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li,
.site-header .genesis-nav-menu li ul {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #6ab446;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary .wrap {
	background-color: #111;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-bottom: 16px;
}

.nav-secondary .genesis-nav-menu > li > a:hover,
.nav-secondary .genesis-nav-menu > li:hover > a {
	background: none;
}

.nav-secondary .genesis-nav-menu .current-menu-item > a,
.nav-secondary .genesis-nav-menu .sub-menu a:hover,
.nav-secondary .genesis-nav-menu a:hover,
.nav-secondary .genesis-nav-menu li:hover > a {
	color: #6ab446;
}

.nav-secondary .genesis-nav-menu .sub-menu a {
	background-color: #090909;
	border-color: #292929;
	color: #fff;
}

.nav-secondary .sub-menu {
	border-color: #292929;
}

/* Responsive Menu
--------------------------------------------- */

#responsive-menu-icon {
	cursor: pointer;
	display: none;
}

#responsive-menu-icon::before {
	-webkit-font-smoothing: antialiased;
	color: #fff;
	content: "\e00e";
	font-family: 'Icon';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	margin: 0 auto;
	speak: none;
	text-transform: none;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Home Page
--------------------------------------------- */

.home-top .widget {
	margin: 0;
}

.home-top .widget:first-child {
	padding-top: 0px;
}

.home-top .widget.genesis_responsive_slider {
	padding: 0;
}

.outreach-pro-home .content {
	padding: 0;
}

.home-bottom {
	background-color: #fff;
	padding-top: 60px;
}

.home-bottom .widget {
	float: left;
	margin-left: 2.564102564102564%;
	width: 23.076923076923077%;
}

.home-bottom .widget:nth-child(4n+1) {
	clear: both;
	margin-left: 0;
}

.home-bottom .featured-content img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow:         1px 1px 4px rgba(0, 0, 0, 0.4);
}

.home-bottom .widget-title {
	color: #333;
	font-weight: 700;
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content p,
.entry-content ul {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #333;
	color: #ddd;
}

/* Entry Meta
--------------------------------------------- */

p.entry-meta {
	color: #999;
	font-size: 12px;
	margin-bottom: 0;
	text-transform: uppercase;
}

p.entry-meta a {
	color: #999;
}

p.entry-meta a:hover {
	color: #333;
}

.entry-footer .entry-meta {
	border-top: 1px dotted #ddd;
	padding-top: 12px;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-categories {
	float: left;
}

.entry-comments-link,
.entry-tags {
	float: right;
}

/* After Entry
--------------------------------------------- */

.after-entry {
	background-color: #f5f5f5;
	margin-bottom: 40px;
	padding: 30px;
	text-align: center;
}

.after-entry p:last-child {
	margin: 0;
}

.after-entry li {
	list-style-type: none;
}

.after-entry .featured-content li {
	text-align: center;
}

/* Pagination
--------------------------------------------- */

.pagination {
	margin: 40px 0 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination .active a {
	background-color: #6ab446;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin-bottom: 30px;
}

li.comment,
li.pingback {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment-content {
	clear: both;
}

.comment-list li,
.entry-pings li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	padding: 24px;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #000000;
	font-size: 14px;
}

.sidebar .widget {
	background-color: transparent;
}

.sidebar li a {
	color: #000000;
	text-decoration: none;
}

.sidebar li a:hover,
.sidebar .entry-meta a:hover {
	color: #fff;
}

/*
Sub Footer
---------------------------------------------------------------------------------------------------- */

.sub-footer {
	background-color: #f2f6e9;
	padding: 60px 0 30px;
}

.sub-footer-left {
	float: left;
	width: 785px;
}

.sub-footer-right {
	float: right;
	font-size: 14px;
	width: 235px;
}

.sub-footer-left .entry-title {
	font-size: 30px;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #222;
	color: #ccc;
	clear: both;
	font-size: 14px;
	padding: 60px 0 30px;
}

.footer-widgets input {
	border: 1px solid #333;
}

.footer-widgets .entry-meta a:hover,
.footer-widgets a:hover {
	color: #fff;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4 {
	width: 255px;
}

.footer-widgets-1,
.footer-widgets-2 {
	margin-right: 40px;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
	float: left;
}

.footer-widgets-4 {
	float: right;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #f8f8f8;
}

.site-footer a {
	color: #666;
}

.site-footer a:hover {
	color: #fff;
}

.site-footer p {
	margin-bottom: 0;
}

/*
Theme Colors
---------------------------------------------------------------------------------------------------- */

/* Outreach Pro Blue
--------------------------------------------- */

.outreach-pro-blue .content .entry-title a:hover,
.outreach-pro-blue .content #genesis-responsive-slider a,
.outreach-pro-blue .content #genesis-responsive-slider h2 a:hover,
.outreach-pro-blue .nav-secondary .genesis-nav-menu .current-menu-item > a,
.outreach-pro-blue .nav-secondary .genesis-nav-menu .sub-menu a:hover,
.outreach-pro-blue .nav-secondary .genesis-nav-menu a:hover,
.outreach-pro-blue .nav-secondary .genesis-nav-menu li:hover > a,
.outreach-pro-blue .widget-title,
.outreach-pro-blue a {
	color: #2483d0;
}

.outreach-pro-blue a:hover {
	color: #1e6dad;
}

.outreach-pro-blue .content #genesis-responsive-slider a:hover,
.outreach-pro-blue .content #genesis-responsive-slider h2 a,
.outreach-pro-blue .footer-widgets .widget-title,
.outreach-pro-blue .genesis-nav-menu a,
.outreach-pro-blue .site-footer a:hover,
.outreach-pro-blue .site-header .widget-title,
.outreach-pro-blue .site-title a,
.outreach-pro-blue .site-title a:hover {
	color: #fff;
}

.outreach-pro-blue .site-footer a {
	color: #666;
}

.outreach-pro-blue .genesis-nav-menu .sub-menu a,
.outreach-pro-blue .home-bottom .widget-title {
	color: #333;
}

.outreach-pro-blue .genesis-nav-menu a:hover,
.outreach-pro-blue .genesis-nav-menu .current-menu-item > a,
.outreach-pro-blue .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #000;
}

.outreach-pro-blue .archive-pagination .active a,
.outreach-pro-blue .archive-pagination li a:hover,
.outreach-pro-blue .button,
.outreach-pro-blue .nav-primary,
.outreach-pro-blue button,
.outreach-pro-blue input[type="button"],
.outreach-pro-blue input[type="reset"],
.outreach-pro-blue input[type="submit"] {
	background-color: #2483d0;
	color: #fff;
}

.outreach-pro-blue .button:hover,
.outreach-pro-blue .site-header,
.outreach-pro-blue button:hover,
.outreach-pro-blue input:hover[type="button"],
.outreach-pro-blue input:hover[type="reset"],
.outreach-pro-blue input:hover[type="submit"] {
	background-color: #1e6dad;
	color: #fff;
}

.outreach-pro-blue .sub-footer {
	background-color: #edf3f4;
}

.outreach-pro-blue,
.outreach-pro-blue .footer-widgets,
.outreach-pro-blue .site-footer {
	background-color: #222e37;
}

.outreach-pro-blue .author-box,
.outreach-pro-blue .nav-secondary .wrap,
.outreach-pro-blue .sidebar .widget  {
	background-color: #17222b;
}

.outreach-pro-blue .nav-secondary .genesis-nav-menu .sub-menu,
.outreach-pro-blue .nav-secondary .genesis-nav-menu .sub-menu a {
	background-color: #17222b;
	border-color: #2d3b45;
	color: #fff;
}

.outreach-pro-blue .enews-widget input:hover[type="submit"] {
	background-color: #eee;
	color: #333;
}

/* Outreach Pro Orange
--------------------------------------------- */

.outreach-pro-orange .content .entry-title a:hover,
.outreach-pro-orange .content #genesis-responsive-slider a,
.outreach-pro-orange .content #genesis-responsive-slider h2 a:hover,
.outreach-pro-orange .nav-secondary .genesis-nav-menu .current-menu-item > a,
.outreach-pro-orange .nav-secondary .genesis-nav-menu .sub-menu a:hover,
.outreach-pro-orange .nav-secondary .genesis-nav-menu a:hover,
.outreach-pro-orange .nav-secondary .genesis-nav-menu li:hover > a,
.outreach-pro-orange .widget-title,
.outreach-pro-orange a {
	color: #ff7b00;
}

.outreach-pro-orange a:hover {
	color: #cb6e23;
}

.outreach-pro-orange .content #genesis-responsive-slider a:hover,
.outreach-pro-orange .content #genesis-responsive-slider h2 a,
.outreach-pro-orange .footer-widgets .widget-title,
.outreach-pro-orange .genesis-nav-menu a,
.outreach-pro-orange .site-footer a:hover,
.outreach-pro-orange .site-header .widget-title,
.outreach-pro-orange .site-title a,
.outreach-pro-orange .site-title a:hover {
	color: #fff;
}

.outreach-pro-orange .site-footer a {
	color: #666;
}

.outreach-pro-orange .genesis-nav-menu .sub-menu a,
.outreach-pro-orange .home-bottom .widget-title {
	color: #333;
}

.outreach-pro-orange .genesis-nav-menu a:hover,
.outreach-pro-orange .genesis-nav-menu .current-menu-item > a,
.outreach-pro-orange .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #000;
}

.outreach-pro-orange .archive-pagination .active a,
.outreach-pro-orange .archive-pagination li a:hover,
.outreach-pro-orange .button,
.outreach-pro-orange .nav-primary,
.outreach-pro-orange button,
.outreach-pro-orange input[type="button"],
.outreach-pro-orange input[type="reset"],
.outreach-pro-orange input[type="submit"] {
	background-color: #ff7b00;
	color: #fff;
}

.outreach-pro-orange .button:hover,
.outreach-pro-orange .site-header,
.outreach-pro-orange button:hover,
.outreach-pro-orange input:hover[type="button"],
.outreach-pro-orange input:hover[type="reset"],
.outreach-pro-orange input:hover[type="submit"] {
	background-color: #ef6c00;
	color: #fff;
}

.outreach-pro-orange .sub-footer {
	background-color: #f6f1e9;
}

.outreach-pro-orange,
.outreach-pro-orange .footer-widgets,
.outreach-pro-orange .site-footer {
	background-color: #3c3a36;
}

.outreach-pro-orange .author-box,
.outreach-pro-orange .nav-secondary .wrap,
.outreach-pro-orange .sidebar .widget  {
	background-color: #302e29;
}

.outreach-pro-orange .nav-secondary .genesis-nav-menu .sub-menu,
.outreach-pro-orange .nav-secondary .genesis-nav-menu .sub-menu a {
	background-color: #302e29;
	border-color: #45433f;
	color: #fff;
}

.outreach-pro-orange .enews-widget input:hover[type="submit"] {
	background-color: #eee;
	color: #333;
}


/* Outreach Pro Purple
--------------------------------------------- */

.outreach-pro-purple .content .entry-title a:hover,
.outreach-pro-purple .content #genesis-responsive-slider a,
.outreach-pro-purple .content #genesis-responsive-slider h2 a:hover,
.outreach-pro-purple .nav-secondary .genesis-nav-menu .current-menu-item > a,
.outreach-pro-purple .nav-secondary .genesis-nav-menu .sub-menu a:hover,
.outreach-pro-purple .nav-secondary .genesis-nav-menu a:hover,
.outreach-pro-purple .nav-secondary .genesis-nav-menu li:hover > a,
.outreach-pro-purple .widget-title,
.outreach-pro-purple a {
	color: #7b53a1;
}

.outreach-pro-purple a:hover {
	color: #684687;
}

.outreach-pro-purple .content #genesis-responsive-slider a:hover,
.outreach-pro-purple .content #genesis-responsive-slider h2 a,
.outreach-pro-purple .footer-widgets .widget-title,
.outreach-pro-purple .genesis-nav-menu a,
.outreach-pro-purple .nav-secondary .genesis-nav-menu .sub-menu a,
.outreach-pro-purple .nav-secondary .genesis-nav-menu .sub-menu,
.outreach-pro-purple .site-footer a:hover,
.outreach-pro-purple .site-header .widget-title,
.outreach-pro-purple .site-title a,
.outreach-pro-purple .site-title a:hover {
	color: #fff;
}

.outreach-pro-purple .site-footer a {
	color: #666;
}

.outreach-pro-purple .genesis-nav-menu .sub-menu a,
.outreach-pro-purple .home-bottom .widget-title {
	color: #333;
}

.outreach-pro-purple .genesis-nav-menu a:hover,
.outreach-pro-purple .genesis-nav-menu .current-menu-item > a,
.outreach-pro-purple .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #000;
}

.outreach-pro-purple .archive-pagination .active a,
.outreach-pro-purple .archive-pagination li a:hover,
.outreach-pro-purple .button,
.outreach-pro-purple .nav-primary,
.outreach-pro-purple button,
.outreach-pro-purple input[type="button"],
.outreach-pro-purple input[type="reset"],
.outreach-pro-purple input[type="submit"] {
	background-color: #7b53a1;
	color: #fff;
}

.outreach-pro-purple .button:hover,
.outreach-pro-purple .site-header,
.outreach-pro-purple button:hover,
.outreach-pro-purple input:hover[type="button"],
.outreach-pro-purple input:hover[type="reset"],
.outreach-pro-purple input:hover[type="submit"] {
	background-color: #684687;
	color: #fff;
}

.outreach-pro-purple .sub-footer {
	background-color: #ececec;
}

.outreach-pro-purple .enews-widget input:hover[type="submit"] {
	background-color: #eee;
	color: #333;
}

/* Outreach Pro Red
--------------------------------------------- */

.outreach-pro-red .content .entry-title a:hover,
.outreach-pro-red .content #genesis-responsive-slider a,
.outreach-pro-red .content #genesis-responsive-slider h2 a:hover,
.outreach-pro-red .nav-secondary .genesis-nav-menu .current-menu-item > a,
.outreach-pro-red .nav-secondary .genesis-nav-menu .sub-menu a:hover,
.outreach-pro-red .nav-secondary .genesis-nav-menu a:hover,
.outreach-pro-red .nav-secondary .genesis-nav-menu li:hover > a,
.outreach-pro-red .widget-title,
.outreach-pro-red a {
	color: #df1431;
}

.outreach-pro-red a:hover {
	color: #bc112c;
}

.outreach-pro-red .content #genesis-responsive-slider a:hover,
.outreach-pro-red .content #genesis-responsive-slider h2 a,
.outreach-pro-red .footer-widgets .widget-title,
.outreach-pro-red .genesis-nav-menu a,
.outreach-pro-red .site-footer a:hover,
.outreach-pro-red .site-header .widget-title,
.outreach-pro-red .site-title a,
.outreach-pro-red .site-title a:hover {
	color: #fff;
}

.outreach-pro-red .site-footer a {
	color: #666;
}

.outreach-pro-red .genesis-nav-menu .sub-menu a,
.outreach-pro-red .home-bottom .widget-title {
	color: #333;
}

.outreach-pro-red .genesis-nav-menu a:hover,
.outreach-pro-red .genesis-nav-menu .current-menu-item > a,
.outreach-pro-red .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #000;
}

.outreach-pro-red .archive-pagination .active a,
.outreach-pro-red .archive-pagination li a:hover,
.outreach-pro-red .button,
.outreach-pro-red .nav-primary,
.outreach-pro-red button,
.outreach-pro-red input[type="button"],
.outreach-pro-red input[type="reset"],
.outreach-pro-red input[type="submit"] {
	background-color: #df1431;
	color: #fff;
}

.outreach-pro-red .button:hover,
.outreach-pro-red .site-header,
.outreach-pro-red button:hover,
.outreach-pro-red input:hover[type="button"],
.outreach-pro-red input:hover[type="reset"],
.outreach-pro-red input:hover[type="submit"] {
	background-color: #bc112c;
	color: #fff;
}

.outreach-pro-red .sub-footer {
	background-color: #f6f1e9;
}

.outreach-pro-red,
.outreach-pro-red .footer-widgets,
.outreach-pro-red .site-footer {
	background-color: #3c3a36;
}

.outreach-pro-red .author-box,
.outreach-pro-red .nav-secondary .wrap,
.outreach-pro-red .sidebar .widget {
	background-color: #302e29;
}

.outreach-pro-red .nav-secondary .genesis-nav-menu .sub-menu,
.outreach-pro-red .nav-secondary .genesis-nav-menu .sub-menu a {
	background-color: #302e29;
	border-color: #45433f;
	color: #fff;
}

.outreach-pro-red .enews-widget input:hover[type="submit"] {
	background-color: #eee;
	color: #333;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {

	.content #genesis-responsive-slider .flex-direction-nav li a {
		background-image: url(images/icon-direction-nav@2x.png);
	}
	
}

@media only screen and (max-width: 1180px) {

	.wrap {
		max-width: 960px;
	}
	
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 750px;
	}
	
	.sub-footer-left {
		width: 710px;
	}
	
	.content {
		width: 630px;
	}
	
	.site-header .widget-area {
		width: 600px;
	}
	
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 420px;
	}
	
	.sidebar-primary {
		width: 300px;
	}
	
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.sub-footer-right {
		width: 210px;
	}
	
	.outreach-pro-home .site-inner .wrap {
		max-width: none;
	}

}

@media only screen and (max-width: 1023px) {
	
	.wrap {
		max-width: 768px;
	}
	
	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}
	
	.site-header .wrap {
		padding: 0;
	}
	
	.header-image .site-title a {
		background-position: top !important;
	}
	
	.genesis-nav-menu li,
	.site-header .search-form,
	.site-header ul.genesis-nav-menu {
		float: none;
	}
	
	.genesis-nav-menu,
	.nav-primary,
	.site-description,
	.site-header .search-form,
	.site-header .title-area,
	.site-header .widget-area,
	.site-title {
		text-align: center;
	}
	
	.site-header .simple-social-icons .alignleft,
	.site-header .simple-social-icons .alignright,
	.site-header .simple-social-icons ul li {
		display: inline-block;
		float: none;
		text-align: center;
	}
	
	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 18px 12px;
	}
	
	.site-header .search-form {
		margin: 16px auto;
	}
	
	.genesis-nav-menu li.right {
		display: none;
	}
	
	.sub-footer-left {
		width: 520px;
	}
	
	.footer-widgets-1,
	.footer-widgets-2 {
		margin-right: 0;
	}
	
}

@media only screen and (max-width: 860px) {
	
	.wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.outreach-pro-home .site-inner .wrap {
		padding: 0;
	}
	
	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-pings,
	.sidebar .widget {
		box-shadow: none;
	}
	
	.archive-pagination li a {
		margin-bottom: 4px;
	}
	
	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.sub-footer-left,
	.sub-footer-right,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	
	.content #genesis-responsive-slider .flex-direction-nav li .next,
	.content #genesis-responsive-slider .flex-direction-nav li .prev,
	.content .slide-excerpt {
		display: none;
	}
	
	.home-bottom .widget {
		text-align: center;
		width: 48%;
	}
	
	.home-bottom .widget:nth-of-type(2n) {
		clear: none;
		margin-left: 2.564102564102564%;
	}
	
	.home-bottom .widget:nth-of-type(2n+1) {
		clear: both;
		margin-left: 0;
	}
	
}

@media only screen and (max-width: 600px) {

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 4px 12px;
	}
	
	.nav-primary {
		padding: 14px 0;
	}

	.responsive-menu {
		/*display: none;*/
	}
	
	#responsive-menu-icon {
		display: block;
	}
	
	.entry-categories,
	.entry-comments-link,
	.entry-tags {
		display: block;
		float: none;
	}
			
}

@media only screen and (max-width: 480px) {

	.content {
		padding: 30px;
	}
	
	.content #genesis-responsive-slider .flex-control-nav {
		display: none;
	}

	.home-bottom .widget:nth-of-type(2n),
	.home-bottom .widget {
		margin: 0;
		width: 100%;
	}
	
	.header-image .site-title a {
		background-size: contain !important;
	}

}


/*--------------------------------------------Extra CSS----------------------------------------------*/

body .navbar-brand {
  	color: #fff;
	font-family: "Merriweather";
	font-weight: bold;
	line-height: 30px;
	margin-top: 0;
}

h1.site-title {
	margin: 0;
}

.navbar-brand span {
  	color: #78adc9;
}

.header-widget-area h4.widget-title.widgettitle,
.home-top h4.widget-title.widgettitle,
.home-bottom h4.widget-title.widgettitle {
	display: none;
}

ul.menu.genesis-nav-menu {
  	margin: 0;
}

/*Footer CSS*/

.footer_bottom {
  	display: inline;
  	float: left;
  	padding: 20px 0;
  	width: 100%;
}

.footer_bottom .container {
  	margin-left: auto;
  	margin-right: auto;
  	padding-left: 15px;
  	padding-right: 15px;
}

.footer_bootomLeft {
  	display: inline;
  	float: left;
  	width: 100%;
}

.footer_bootomRight {
  	display: inline;
  	float: left;
  	text-align: right;
  	width: 100%;
}

.footer_social li a {
  	color: #fff;
  	display: inline-block;
  	float: left;
  	font-size: 22px;
  	padding: 0 10px;
}

.footer-widgets .widget-title {
	color: #fff;
	font-size: 24px;
	margin-bottom: 25px;
}

.footer-widgets .widget li {
  	border: medium none;
  	margin-bottom: 0;
  	padding-bottom: 0;
}

.footer-widgets .widget_nav_menu li a {
  	display: block;
  	font-size: 15px;
  	font-weight: bold;
  	margin-bottom: 3px;
  	color: #78adc9;
}

.footer-widgets .widget_nav_menu li a:hover {
	color: #78adc9;
	text-decoration: underline;
}

/* Preloader */
#preloader {
  	position: fixed;
  	top:0;
  	left:0;
  	right:0;
  	bottom:0;
  	background-color:#000; /* change if the mask should have another color then white */
  	z-index:99999; /* makes sure it stays on top */
}

#status {
  	width:200px;
  	height:200px;
  	position:absolute;
  	left:50%; /* centers the loading animation horizontally one the screen */
  	top:50%; /* centers the loading animation vertically one the screen */
  	background-image:url(images/status.GIF); /* path to your loading animation */
  	background-repeat:no-repeat;
  	background-position:center;
  	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  	background: url("images/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  	border: 3px solid #f0f1f3;
  	border-radius: 5px;
  	bottom: 20px;
  	display: inline-block;
  	height: 54px;
  	opacity: 0;
  	position: fixed;
  	right: 20px;
  	text-align: center;
  	width: 54px;
  	z-index: 100;
  	-webkit-transition: all 0.5s;
  	-o-transition: all 0.5s;
  	transition: all 0.5s;

}
.scrollToTop:hover{
  	background-position: 13px -50px;  
  	text-decoration: none;
  	outline: none;
}

/*--------------------*/
/* HOME SLIDER SECTION */
/*--------------------*/

#slider{
  	float: left;
  	display: inline;
  	width: 100%;
}
.slider_area {
  	background-color: #ccc;
  	display: inline;
  	float: left;
  	margin-top: 0px;
  	width: 100%;
}
.slider_caption {
  	left: 5%;
  	position: absolute;
  	top: 25%;
  	width: 50%;
}
.slider_right_caption{
  	left: 38%;
}
.slider_caption h2 {
  	color: #fff;
  	font-size: 33px;
  	background-color: rgba(49, 59, 61, 0.6);
  	padding: 8px;
  	margin-bottom: 5px;
  	text-transform: uppercase;
}
.slider_caption p {
  	background-color: rgba(49, 59, 61, 0.6);
	color: #fff;
	font-family: "Varela";
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	padding: 10px;
}
.slider_btn {  
  	background: rgba(49, 59, 61, 0.6);
  	border: 2px solid #fff;
  	border-radius: 5px;
  	color: #fff;
  	font-size: 16px;
  	display: inline-block;
  	font-family: 'Varela';
  	margin-top: 10px;
  	padding: 9px 15px;
  	text-decoration: none;
  	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;  
}
.slider_btn:hover,.slider_btn:focus{   
  	text-decoration: none;
  	outline: none;
}
.next,.prev{
  	display: none !important;  
}
.slider_area:hover .next{
  	display: block !important;
}
.slider_area:hover .prev{
  	display: block !important;
}

/*--------------------*/
/* HOME ABOUT US */
/*--------------------*/

#aboutUs {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.aboutus_area {
  display: inline;
  float: left;
  padding-right: 30px;
  width: 100%;
}
.aboutus_area p {
  line-height: 22px;
}
.titile{
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.titile:after{
  content: "";
  position: absolute;
  left: 0;  
  bottom: 0px;
  width: 50px;
  height: 5px;  
}
.newsfeed_area{
  float: left;
  display: inline;
  width: 100%;
  padding-left: 15px;
}
.feed_tabs li{margin-bottom: -2px;}

.feed_tabs li a {
  font-family: 'Varela';
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.feed_tabs li a:hover{
  color: #fff;  
}
.news_tab {
  margin-top: 15px;
}
.news_tab li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.news_tab li:last-child{
  border-bottom: none;
}
.news_img {
  display: block;
  height: 70px;
  width: 100px;
}
.news_img>img{
  width: 100%;
  height: 100%;
}
.news_tab .media-body > a {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.feed_date{
  color: #ccc;
  font-style: italic;
}
.see_all {
  border-bottom: 2px solid #ccc;
  float: right;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.see_all:hover, .see_all:focus{  
  text-decoration: none;
  outline: none;  
}
.single_news_pane{
  float: left;
  display: inline;
  width: 100%;
}
.single_notice_pane{
  float: left;
  display: inline;
  width: 100%;
}
.single_notice_pane .slick-prev {  
  background-image: url("images/nav-prev.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.single_notice_pane .slick-next {  
  background-image: url("images/nav-next.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.single_notice_pane .slick-prev, .single_notice_pane .slick-next { 
  top: 100%;  
}
.single_notice_pane .slick-prev{
  left: 87%;
}

/*--------------------*/
/* HOME WHY US SECTION */
/*--------------------*/

#whyUs{
  float: left;
  display: inline;
  width: 100%;
}
.whyus_top{
  	float: left;
  	display: inline;
  	width: 100%;
}
.single_whyus_top{
  float: left;  
  display: inline;  
  width: 100%;
  text-align: center;
}
.title_area{
  float: left;  
  display: inline;  
  width: 100%; 
  text-align: center;
  margin-bottom: 40px;  
}
.title_area span{
  display: inline-block;  
  text-align: center; 
  height: 5px;    
  width: 50px;
}
.title_two {
  	padding-bottom: 0;
  	position: relative;
  	text-align: center;
  	text-transform: uppercase;
  	display: none;
}
.whyus_icon{
  border-radius: 150px;
  color: #ffffff;
  display: inline-block;
  height: 150px;  
  text-align: center;
  width: 150px;
}
.whyus_icon span{
  display: inline-block;
  font-size: 70px;
  height: 100%;
  line-height: 160px;
  width: 100%;
  -webkit-transition:   all 0.5s;
  -o-transition:  all 0.5s;
  transition:   all 0.5s;
}
.single_whyus_top:hover .whyus_icon span{
  transform:scale(0.9);
}
.single_whyus_top>h3{
  font-size: 18px;
  font-weight: bold;
}
.single_whyus_top>p{
  font-size: 13px;
}
.whyus_bottom{
  float: left;
  display: inline;
  width: 100%;
  min-height: 350px;
  padding: 85px 0px;
  position: relative;
   
}
.slider_overlay {
  background: none repeat scroll 0 0 #242434;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.skills{
  position: relative;
  z-index: 999;
}

.heading h3 {
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 40px;
  margin: 0 0 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
}
div[data-dimension] {
  float: none;
  margin: 0 auto;
}
.circle-text{
  color: #fff;
}
.single_skill{
  float: left;
  display: block;
  width: 100%;
  text-align: center;
}
.single_skill > h4 {
  color: #ffffff;
  font-size: 20px;  
}

/*--------------------*/
/* HOME COURSE SECTION */
/*--------------------*/

#ourCourses{
  background-color: #f6f6f6;
  float: left;
  display: inline;
  width: 100%;  
  padding: 60px 0px;
}
.ourCourse_content{
  float: left;
  display: inline;
  width: 100%;
}
.course_nav{}
.course_nav li {
  display: block;
  float: left;
  margin-right: 30px;
  width: 31%;
}
.course_nav li:last-child{
  margin-right: 0px;
}
.single_course {
  background-color: #ffffff;
  border: 1px solid #efefef;
  display: inline;
  float: left;
  min-height: 150px;
  width: 100%;
}
.singCourse_imgarea {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.singCourse_imgarea img {
  display: block;
  position: relative;
  width: 100%;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.singCourse_imgarea .mask {
   background-color: rgba(49, 59, 61, 0.6);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   transform: translateX(-100%);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.singCourse_imgarea .mask, .singCourse_imgarea .content {  
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.singCourse_imgarea:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.singCourse_imgarea:hover img {
   -webkit-transform: translateX(100%);
   -moz-transform: translateX(100%);
   -o-transform: translateX(100%);
   -ms-transform: translateX(100%);
   transform: translateX(100%);
}
.course_more {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 27%;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.course_more:hover,.course_more:focus {
  background-color: #fff;  
  text-decoration: none;
  outline: none;
  border-radius: 4px;
}
.singCourse_content{
  float: left;
  display: inline;
  width: 100%;
  padding: 10px;
}
.singCourse_title {
  border-bottom: 1px solid #efefef;
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  
}
.singCourse_title a{
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.singCourse_title a:hover{
  text-decoration: none;
  outline: none;
}
.singCourse_price{
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}
.singCourse_price > span {
  font-weight: bold;
  font-size: 18px;
}
.singCourse_author {
  border-top: 1px solid #efefef;
  display: inline;
  float: left;
  padding: 20px 10px 0;
  width: 100%;
}
.singCourse_author > img {
  float: left;
  border-radius: 50%;
  height: 40px;
  margin-bottom: 25px;
  margin-right: 15px;
  width: 40px;
}
.singCourse_author>p{
  float: left;
  color: #c0c1c1;
  font-size: 18px;
  margin-top: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.singCourse_author>p:hover{
  color: #000;
}
.course_nav .slick-prev {
  left: -37px;
  background-image: url("images/course-nav-prev.png");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  height: 121px;
  width: 36px;
}
.course_nav .slick-next {  
  background-image: url("images/course-nav-next.png");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  height: 121px;
  width: 36px;
  right: -6px;
}
.course_nav .slick-prev, .course_nav .slick-next {
  top: 40%;
}

/*--------------------*/
/* HOME OUR TUTORS SECTION */
/*--------------------*/

#ourTutors{
  background-color: #ffffff;
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.ourTutors_content{
  float: left;
  display: inline;
  width: 100%;
}
.tutors_nav{}

.tutors_nav>li {
  display: block;
  float: left;
  margin-right: 30px;
  width: 31%;
}
.tutors_nav>li:last-child{
  margin-right: 0px;
}
.single_tutors {
  display: inline;
  float: left;
  min-height: 150px;
  width: 100%;
  padding-bottom: 15px;
}
.tutors_thumb {
  border-radius: 50%;
  display: block;
  font-size: 15px;
  height: 165px;
  line-height: 165px;
  margin: 0 auto;
  padding: 15px 0 0 18px;
  text-align: center;
  width: 75%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.single_tutors:hover .tutors_thumb{
  padding: 0px;
}
.tutors_thumb > img {
  border-radius: 50%;
  height: 150px;
  width: 95%;
}
.singTutors_content{
  float: left;
  display: inline;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.tutors_name {
  font-size: 18px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.singTutors_content>span{
  font-size: 13px;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}
.singTutors_content > p {
  font-size: 13px;
}
.singTutors_social{
  float: left;
  display: inline;
  width: 100%;
  padding-top: 10px;
}
.tutors_socnav{
  text-align: center;
}
.tutors_socnav li{
  display: inline-block;
}
.tutors_socnav li a{
  background-color: #fff;  
  border: 1px solid #a8a8a8;
  color: #a8a8a8;
  display: inline-block;
  font-size: 14px;
  height: 26px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  width: 26px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tutors_socnav li a:hover,.tutors_socnav li a:focus{
  text-decoration: none;
  outline: none;
}
.tutors_nav .slick-dots li {
  border: 2px solid #a8a8a8;
  width: 15px;
  height: 15px;  
}
.tutors_nav .slick-dots li.slick-active button:before,.tutors_nav .slick-dots li button:before {
  color: #fff; 
}

/*--------------------*/
/* HOME STUDENTS TESTIMONIAL SECTION */
/*--------------------*/

#studentsTestimonial{
  background-color: #f6f6f6;
  float: left;
  display: inline;
  width: 100%;  
  padding: 60px 0px;
}
.studentsTestimonial_content{
  float: left;
  display: inline;
  width: 100%;
}
.single_stsTestimonial{
  float: left;
  display: inline;
  width: 100%;
  text-align: center;
}
.stsTestimonial_msgbox {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  display: inline;
  float: left;
  margin-bottom: 25px;
  padding: 13px;
  width: 100%;
  position: relative;
}
.stsTestimonial_msgbox:after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  bottom: -15px;
  content: "";
  height: 0;
  left: 46%;
  position: absolute;
  width: 0;
}
.stsTesti_img {
  border: 5px solid #dbe2e9;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.stsTestimonial_content{
  float: left;
  display: inline;
  width: 100%;
}

/*--------------------*/
/* COURSE ARCHIVE PAGE */
/*--------------------*/

#imgBanner {
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 300px;
  margin-top: 77px;
  padding: 118px 0;
  text-align: center;
  width: 100%;
}
#imgBanner h2 {
  color: #fff;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#courseArchive{
  float: left;
  display: inline;
  width: 100%;
  background-color: #f6f6f6;
  padding: 60px 0px;
  min-height: 500px;
}
.courseArchive_content{
  float: left;
  display: inline;
  width: 100%;
}
.courseArchive_content .single_course {
  margin-bottom: 30px;
}
.pagination li a{
  -webkit-transition: all 0.5s;
  -mz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.pagination li a:hover,.pagination li a:focus{
  color: #fff;
}
.courseArchive_sidebar{
  background-color: #fff;
  float: left;
  display: inline;
  width: 100%; 
  padding: 12px;
  min-height: 500px;
}
.single_sidebar{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 15px;  
}
.single_sidebar > h2 {
  color: #fff;
  font-size: 26px;
  padding: 0 5px;
  margin-bottom: 15px;
}
.single_sidebar > h2 span{
  font-size: 24px;
}
.single_sidebar .news_tab .media-body > a {
  margin-top: 0;
}
.single_sidebar > ul > li>a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.single_sidebar > ul > li>a:hover,.single_sidebar > ul > li>a:focus{
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* COURSE SINGLE PAGE */
/*--------------------*/

.singlecourse_ferimg_area{
  float: left;
  display: inline;
  width: 100%;
  background-color: #ffffff;
}
.singlecourse_ferimg{
  float: left;
  display: inline;
  width: 100%;
}
.singlecourse_ferimg > img {
  max-height: 350px;
  width: 100%;
}
.singlecourse_bottom {
  display: inline;
  float: left;
  padding: 15px;
  width: 100%;
}
.singlecourse_bottom > h2 {
  display: inline-block;
  float: left;
  font-size: 18px;
  margin-right: 20px;
  padding-bottom: 0px;
}
.singlecourse_author{
  float: left;
  display: inline-block;
  color: #c0c1c1;
  font-size: 15px;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;  
}
.singlecourse_author:hover{
  color: #000;
}
.singlecourse_author img{
  border-radius: 50%;
  height: 40px;
  /*margin-bottom: 25px;*/
  margin-right: 15px;
  width: 40px;
}
.singlecourse_price {
  display: inline-block;
  float: right;
  font-size: 25px;
  margin-top: 4px;
}
.single_course_content {
  display: inline;
  float: left;
  margin-top: 35px;
  width: 100%;
}
.single_course_content > h2 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.single_course_content > p {
  font-size: 15px;
  line-height: 1.9em;
}
.course_table{
  margin-top: 50px;
  background-color: #fff;
}
.course_table thead{
  color: #fff;
}
.course_table thead>tr>th{
  color: #ffffff;
  text-transform: uppercase;
}
.related_course{
  float: left;
  display: inline;
  width: 100%;
  margin-top: 30px;
}
.related_course > h2 {
  background-color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 5px;
  text-transform: uppercase;
}

/*--------------------*/
/* BLOG PAGE */
/*--------------------*/

.single_blog_archive {
  background-color: #fff;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
}
.blogimg_container {
    width:100%;    
    overflow: hidden;
    margin-bottom: 8px;
}
.blog_img img {
  height: 100%;
  width:100%;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  transform: translate3d(0px, 0px, 0px);
}
.blog_img:hover img {
  opacity: 0.8;
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
  transform:scale(1.1);
}
.blog_title {
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 0 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_title a:hover{
  text-decoration: none;
  outline: none;
}
.blog_commentbox{
  float: left;
  display: inline;
  width: 100%;
  padding: 0px 15px;
}
.blog_commentbox > p {
  color: #888;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-right: 5px;
  border-right: 2px solid #ccc;
  padding-right: 5px;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_commentbox :last-child{
  border-right: none;
}
.blog_commentbox > p i{
  margin-right: 5px;
}
.blog_commentbox>a{
  color: #888;
  font-size: 15px;
  font-weight: normal;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog_commentbox>a i{
  margin-right: 5px;
}
.blog_summary {
  color: #9b9b9b;
  line-height: 18px;
  margin: 10px 5px 10px 0;
  padding: 0 15px;
}
.blog_readmore{
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #9b9b9b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 15px;
  float: right;
}
.blog_readmore:hover,.blog_readmore:focus{
  text-decoration: none;
  outline: none;
}
.blog_readmore::before,
.blog_readmore::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.blog_readmore::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.blog_readmore::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.blog_readmore:hover::before,
.blog_readmore:hover::after,
.blog_readmore:focus::before,
.blog_readmore:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.tags_nav li{
  display: inline-block;
}
.tags_nav li a {
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  color: #666;
}
.tags_nav li a:hover,.tags_nav li a:focus{
  color: #ffffff !important;
}
.tags_nav li a>i{
  margin-right: 5px;
}
.single_blog{
  float: left;
  display: inline;
  width: 100%;
}
.single_blog .blog_title{
  padding-left: 0px;
}
.single_blog .blog_commentbox{
  padding-left: 0px;
}
.single_blog p {
  line-height: 25px;
  font-size: 15px;
}
.single_blog blockquote{
  border-left: none;
}
.single_blog blockquote>span{
  font-size: 25px;
}
.single_blog ul li {
  line-height: 25px;
}
.single_blog ul li > span {
  margin-right: 5px;
}
.single_blog_prevnext {
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
}
.prev_post{
  display: inline-block;
  float: left;
  padding: 8px 16px;
  color: #ccc;
  border:2px solid #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.prev_post:hover{
  text-decoration: none;
  outline: none;
}
.prev_post>i{
  font-size: 20px;
  margin-right: 5px;
}
.next_post{
  display: inline-block;
  float: right;
  padding: 8px 16px;
  color: #ccc;
  border:2px solid #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.next_post:hover{
  text-decoration: none;
  outline: none;
}
.next_post>i{
  font-size: 20px;
  margin-left: 5px;
}
.related_post{
  float: left;
  display: inline;
  width: 100%;
  margin-top: 40px;
}
.related_post > h2 {
  background-color: #fff;
  border-left: 5px solid;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 10px;
}

/*--------------------*/
/* EVENTS */
/*--------------------*/

.events_slider_area{
  float: left;
  display: inline;
  width: 100%;
}
.events_slider{
  float: left;
  display: inline;
  width: 100%;
}
.events_slider .slick-prev {  
  background-image: url("images/nav-prev.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.events_slider .slick-next {  
  background-image: url("images/nav-next.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
}
.events_slider .slick-prev,.events_slider .slick-next {
  height: 45px;
}
.events_slider .slick-slide img {
  display: block;
  width: 100%;
}

/*--------------------*/
/* GALLERY */
/*--------------------*/

#gallery {
  display: inline;
  float: left;
  padding: 60px 0;
  width: 100%;
}
.gallery_area{
  float: left;
  display: inline;
  width: 100%;
}
.gallery_area a {  
  display: inline-block;
  height: 200px;
  margin: 0 9px 18px;
  width: 23%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;  
}
.gallery_area a>img{
  width: 100%;
  height: 100%;  
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery_area a:hover .gallery_img{
  transform: scale(2.2);
}
.view_btn {
  display: none;
  left: -100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;  
}
.gallery_area a:hover .view_btn{
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  left:0;
  padding-top: 34%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.tos-caption-0{ 
  font-family: 'Varela', sans-serif;
  font-size: 22px;
}

/*--------------------*/
/* CONTACT */
/*--------------------*/

#contact{
  float: left;
  display: inline;
  width: 100%;
  background-color: #f6f6f6;
  padding: 60px 0;
}
.contact_form{
  float: left;
  display: inline;
  width: 100%;
}
 .wp-form-control {
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding: 10px 12px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;  
  width: 100%;  
}
.wpcf7-text{
  height: 45px;
}
.wpcf7-email{
  height: 45px;
}
.wpcf7-textarea {
  height: 200px;
  padding: 15px;
}
.wpcf7-submit {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
   -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
}
.contact_address{
  float: left;
  display: inline;
  width: 100%;
}
.contact_address>h3{ 
  margin-top: 0px;
}
.address_group{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 30px;
}
.address_group .footer_social li a{
  color: #ccc;
}
#googleMap{
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: -6px;
}

/*--------------------*/
/* 404 page */
/*--------------------*/

#errorpage{
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0;
}
.error_page_content {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;  
}
.error_page_content h1 {
  display: inline-block;  
  font-size: 300px;
  font-weight: 400;
  position: relative;
  vertical-align: middle;  
}
.error_page_content h1:after, .error_page_content h1:before {
  background: none repeat scroll 0 0 #fff;  
  content: "";  
  height: 20px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -mz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); 
  transform: rotate(45deg);
  width: 20px;
}
.error_page_content h1:after {
  right: -60px;
}
.error_page_content h1:before {
  left: -60px;
}
.error_page_content h2 {
  color: #c1c0b4;
  font-size: 60px;
  font-weight: 400;
}
.error_page_content h3 {
  font-size: 24px;
  margin-top: 35px;
}
.error_page_content p { 
  font-size: 23px;
  line-height: 31px;
  margin: 36px auto 0;
  max-width: 630px;
  padding: 9px 0 8px;
  position: relative;
}
.error_page_content p:before {  
  content: "";
  left: 0;
  position: absolute;
  top: 1px;
  width: 100%;
}
.error_page_content p:after {  
  bottom: 1px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.error_page_content p>a{
  color: #798992;
  text-decoration: none;
}



/*THEME STYLE SWITCHER*/

.theme_style_switcher {
	background-color: rgba(0, 0, 0, 0.75);
	border-bottom-right-radius: 4px;
	height: auto;
	left: -250px;
	padding: 15px;
	position: fixed;
	top: 140px;
	width: 250px;
	z-index: 1000;
	text-align: center;
	-webkit-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}
.theme_style_switcher a {
  display: inline-block;
  float: none;
  height: 40px;
  margin: 5px;
  width: 40px;
}
.theme_style_switcher > h4 {
  color: #fff;
  padding: 15px 10px;
  text-transform: uppercase;
}
.style-switch-button {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  height: 50px;
  left:250px;
  text-align:left;
  position: absolute;
  top: 50px;
  width: 50px;
  z-index: 1000;
}
.style-switch-active{
	left: 0;
}
.style-switch-button i {
  color: #fff;
  font-size: 20px;
  left: 15px;
  line-height: 1;
  position: relative;
  top: 15px;  
}
#default{
  background-color: #78adc9;
}
#yellow{
  background-color: #ffd133;
}
#red{
  background-color: #ee4532;
}
#bridge{
  background-color: #a5d549;
}
#green{
  background-color: #3fc35f;
}
#liteBlue{
 background-color: #37c6f5; 
}
#orange{
  background-color: #ff871c;
}
#pink{
  background-color: #ff2851;
}
#darkRed{
  background-color: #970001;
}
#purple{
  background-color: #c762cb;
}

/*======================///////////////
			start responsive style
=====================///////////////////////*/


@media only screen and (max-width:1199px ){
  .slider_caption {width: 60%;}
  .slider_caption h2 {font-size: 30px;}
  .slider_right_caption {left: 35%;}
  .singCourse_author > p {font-size: 15px;}
  .side_add{display: block;width: 100%;}
  .side_add>img{width: 100%;}
  .gallery_area a {width: 22.5%;}
}
  
@media only screen and (max-width:991px ){
  .navbar-default .navbar-brand {font-size: 18px;}
  .navbar-default .navbar-nav > li > a {font-size: 12px;padding: 30px 9px;}
  .navbar-nav > li > .dropdown-menu li a {font-size: 12px;}
  .navbar-brand{width: 160px;}
  .navbar-brand img{max-width: 100%;}
  .slider_caption {width: 80%;}
  .slider_right_caption {left: 15%;}
  .course_nav { padding-left: 15px;}
  .course_nav .slick-prev {left: -20px;}
  .singCourse_title {font-size: 18px;}
  .singCourse_author > p {font-size: 10px;}
  .single_footer_widget > h3 {font-size: 17px;}
  .single_sidebar > h2 {font-size: 20px;}
  .news_tab .media-body > a {font-size: 12px;}
  .gallery_area a {width: 30.3%;} 
}

@media only screen and (min-width:992px ){
	body .navbar-brand {font-size: 25px;}
}


@media only screen and (max-width:767px ){
.navbar-default .navbar-nav > li > a {padding: 10px 20px;}
.navbar-nav > li > .dropdown-menu {left: 15px;}	
.navbar-nav > li > .dropdown-menu:before {border-left: 10px solid transparent;border-right: 10px solid transparent;right: 65%;}
.navbar-toggle{margin-top: 15px;}
.navbar-default .navbar-brand {margin-bottom: 8px;margin-top: 8px;}
.navbar-nav > li > .dropdown-menu:before {display: none;}
.slider_caption {width: 90%;}
.slider_right_caption {left: 5%;}
.slider_caption h2 {font-size: 25px;line-height: 35px;}
.slider_area {margin-top: 66px;}
.aboutus_area {padding-right: 0px;margin-bottom: 30px;}
.single_whyus_top {margin-bottom: 30px;}
.single_skill {margin-bottom: 30px;}
.single_stsTestimonial { margin-bottom: 30px;}
.footer_bootomLeft {margin-bottom: 10px;text-align: center;}
.footer_bootomRight {text-align: center;}
.single_footer_widget {text-align: center;}
.footer_social{text-align: center;}
.footer_social li {display: inline-block;}
#imgBanner {margin-top: 65px;}
#imgBanner h2 {font-size: 50px;}
.courseArchive_content {margin-bottom: 65px;}
.gallery_area a {width: 28.5%;}
.contact_address {margin-top: 50px;text-align: center;}

}

@media only screen and (max-width:480px ){	
  .slider_right_caption {top: 15%;}
	.slider_caption h2 {font-size: 20px;line-height: 30px;}
  .slider_caption p { font-size: 13px;}
  .slider_btn {font-size: 13px;padding: 5px 10px;}
  .error_page_content h1 {font-size: 100px;}
  #imgBanner h2 {font-size: 40px;}
  #imgBanner {height: 200px;padding: 80px 0;}
  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 250px;}
 
}

@media only screen and (max-width:360px ){
  .error_page_content h1 {font-size: 70px;}
  .error_page_content h2 {font-size: 40px;}
  .error_page_content p {font-size: 17px;}
  .error_page_content h1:after, .error_page_content h1:before {height: 15px;width: 15px;}
  .error_page_content h1:after {right: -30px;}
  .error_page_content h1:before {left: -30px;}
  .feed_tabs li a {font-size: 14px;}
  #imgBanner h2 {font-size: 30px;}
  .blog_title {font-size: 20px;line-height: 30px;}
  .gallery_area a {width: 100%;margin-right: 0;margin-left: 0;height: 200px;}

}

@media only screen and (max-width:320px ){

	
}



/*--------------------------------------------Extra CSS----------------------------------------------*/

.site-header {
  	position: fixed;
	width: 100%;
	z-index: 11;
}

.home-top.widget-area {
  	margin-top: 80px;
}

.mid-section-two .widget-title.widgettitle {
	display: none;
}

.mid-section-one .widget-title.widgettitle,
.mid-section-three .widget-title.widgettitle,
.mid-section-four .widget-title.widgettitle,
.mid-section-five .widget-title.widgettitle {
  	color: #333333;
	font-size: 30px;	
	font-weight: bold;
	margin-bottom: 12px;
	padding-bottom: 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.mid-section-one {
	padding: 60px 0px;  
	background-color: #f6f6f6;
}

.mid-section-two {
	background-image: url(images/skills_bg.jpg);
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	-webkit-background-size: cover;
  	background-size: cover; 
  
}

.mid-section-two_inner {
  	background: #242434 none repeat scroll 0 0;
	height: 100%;
	opacity: 0.8;	
	width: 100%;
	z-index: 9;
}

.mid-section-three.widget-area {
  	background-color: #f6f6f6;
	padding: 60px 0;
}



.mid-section-three .widget-title.widgettitle {
  	margin-bottom: 0;
  	margin-top: 5px;
}

.mid-section-four .widget-title.widgettitle {
  	margin-bottom: 0;
  	margin-top: 5px;
}

.mid-section-four.widget-area {
  	padding: 60px 0;
}

.mid-section-five.widget-area {
  	background-color: #f6f6f6;
	padding: 60px 0;
}

.tutors_nav .slick-dots li:last-child {
  	border-bottom: 2px solid #a8a8a8;
}



/*----------------------------------------------------Extra Media CSS------------------------------------------------------*/

@media only screen and (max-width:767px ){
	.site-header .widget-area.header-widget-area {
		display: none;
	}

	.site-header {
  		min-height: 65px;
	}

	body #responsive-menu {
		background: transparent none repeat scroll 0 0;
		border-top: 1px solid #ffffff;
		box-shadow: none;
		top: 65px !important;
	}

	body #responsive-menu .menu-primary-menu-container {
		background-color: #313B3D;
	}

	body .navbar-brand {
  		padding: 5px 0;
	}
}



.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	transition-duration: 0s;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	width: 150px;
	z-index: 999;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}

.genesis-nav-menu .sub-menu::before {
  	border-bottom: 15px solid #48575a;
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	content: "";
  	height: 0;
  	position: absolute;
 	right: 25px;
  	top: -15px;
  	width: 0;
}

.genesis-nav-menu .menu-page .sub-menu {
  	right: 158px;
}

.site-header .widget-area .genesis-nav-menu .menu-page .sub-menu a {
	color: #FFFFFF;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
	display: block;
	/*opacity: 0.8;*/
	padding: 10px;
	transition: all 0.5s ease 0s;
	background-color: #48575A; 
}

.site-header .widget-area .genesis-nav-menu .menu-page .sub-menu li:last-child a {
	border-bottom: none;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.site-header .widget-area .genesis-nav-menu .menu-page .sub-menu a:hover {
	color: #78adc9;
	text-decoration: none;
	background-color: #48575A; 
}

body a:focus {
  	outline: medium none;
}

.courseArchive_content .single_course_outer {
  	height: 580px;
}

.single_blog_prevnext .archive-pagination.pagination {
  	width: 100%;
}


.single_blog_prevnext .pagination-next.alignright a {
	animation-name: fadeInRight;
	visibility: visible;
	animation-duration: 1s;
	animation-fill-mode: both;
	border: 2px solid #ccc;
	color: #ccc;
	display: inline-block;
	float: right;
	padding: 8px 16px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}

.single_blog_prevnext .pagination-next.alignright a:hover {
	outline: medium none;
	text-decoration: none;
	border-color: #78adc9;
	color: #78adc9;
}


.single_blog_prevnext .pagination-previous.alignleft a {
	animation-name: fadeInRight;
	visibility: visible;
	animation-duration: 1s;
	animation-fill-mode: both;
	border: 2px solid #ccc;
	color: #ccc;
	display: inline-block;
	float: right;
	padding: 8px 16px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}

.single_blog_prevnext .pagination-previous.alignleft a:hover {
	outline: medium none;
	text-decoration: none;
	border-color: #78adc9;
	color: #78adc9;
}



.content > .archive-pagination.pagination {
  display: none;
}
